.row{
    border: solid black 1px;
    background-color: cornflowerblue;
    width: 500px;
    height: 300px;
    position: relative;
    left: 600px;
}
.col{
    border: solid black 1px;
    width: 100px;
    height: 200px;

}
.col1{
    background-color: brown;
    position: absolute;

}
.col2{
    position: absolute;
    left: 105px;
    background-color: crimson;
}
.col3{
    position: absolute;
    left: 210px;
    background-color: darkgreen;
}
.col4{
    position: absolute;
    left: 315px;
    background-color: orangered;
}