body{
    background-color: black;
   
}
h1{
    color: white;
    text-align: center;
    font-family: ;
}
div{
    width: 100px;
    height: 100px;
}
.h{
    background-color: grey;
    margin-top: 103px;
    margin-left: 481px;
}
.i{
    background-color: hotpink;
    margin-top: -100px;
    margin-left: 594px;
}
.j{
    background-color: indianred;
    margin-top: -100px;
    margin-left: 707px;
}
.k{
    background-color: rgb(231, 15, 15);
    margin-top: -100px;
    margin-left: 820px;
}
.l{
background-color: lightpink;
margin-top: -100px;
margin-left: 933px;
}
.a{
    background-color: lightseagreen;
    margin-top: 13px;
    margin-left: 933px;
}
.b{
    background-color: maroon;
    margin-top: -100px;
margin-left: 821px;
}
.c{
    background-color: magenta;
    margin-top: -100px;
margin-left: 369px;
}
.d{
    background-color: mediumblue;
    margin-top: -100px;
margin-left: 707px;
}
.e{
    background-color: mediumorchid;
    margin-top: -100px;
margin-left: 594px;
}
.f{
    background-color: mediumpurple;
    margin-top: -100px;
margin-left: 481px;
}
.g{
    background-color: mediumslateblue;
    margin-top: -100px;
margin-left: 1044px;
}
.m{
    background-color: mediumspringgreen;
    margin-top: 11px;
    margin-left: 1044px;
}
.n{
    background-color: mediumturquoise;
    margin-top: -100px;
    margin-left: 933px;
}
.o{
    background-color: mediumvioletred;
    margin-top: -100px;
    margin-left: 821px;
}
.p{
    background-color: midnightblue;
    margin-top: -100px;
    margin-left: 707px;
}
.q{
    background-color: mintcream;
    margin-top: -100px;
    margin-left: 594px;
}
.r{
    background-color: navajowhite;
    margin-top: -100px;
    margin-left: 368px;
}
.s{
    background-color: navy;
    margin-top: -100px;
    margin-left: 481px;
}
.t{
    background-color: olive;
    margin-top: -100px;
    margin-left: 254px;
}
.u{
    background-color: orange;
    margin-top: -100px;
    margin-left: 1158px;
}
